<div>
    <h2 style="color: #45013d;"> About us</h2>
    <div class="row">

        <div class="col-sm-6">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus massa urna, tristique vehicula est semper nec. Maecenas bibendum nec est nec tincidunt. Morbi non viverra ligula. Donec nisl erat, euismod eu mi id, fringilla semper erat. Nunc vel justo ac eros pretium luctus. Nullam arcu quam, pulvinar egestas euismod non, interdum vel nisl. Duis ultricies gravida sagittis. Ut pretium quis eros in pretium. Proin lacus mi, aliquam quis justo ut, vulputate cursus diam. Aenean at fermentum sem. Donec a arcu nisl.
            </p>
            <p>
                Quisque dignissim finibus mi. Nam molestie felis augue, eu dapibus erat pulvinar in. In eleifend nulla sodales nisi ultrices, eu posuere dolor aliquet. Quisque posuere rhoncus convallis. Curabitur id eros bibendum, feugiat ipsum non, commodo ligula. Nulla purus orci, commodo quis justo ac, faucibus cursus orci. Curabitur quis malesuada dolor. Curabitur cursus luctus condimentum.

            </p>
        </div>
        <div class="col-sm-4">
            <img src="~/img/about.jpeg" alt="" width="300" height="400" />
        </div>
    </div>
    
</div>