@model IEnumerable<ProductVM>

@{
    ViewData["Title"] = "FavoriteProducts";
    var detailsRoute = "/Details/{0}";
}

@inject IHttpContextAccessor HttpContextAccessor

@{

    var favoritesList = HttpContextAccessor.HttpContext.Session.Get<List<int>>(SessionHelper.FavoriteProducts);
}

<h2 style="color: #45013d;">Wishlist</h2>

<div class="row">

    @if (favoritesList.Count != 0)
    {
        @foreach (var id in favoritesList)
        {
            @foreach (var product in Model)
            {
                @if (product.Id == id)
                {
                    <div class="col-4" >
                        <div class="card mb-4" style="background-color: #e0badc">

                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal">
                                    <label style="font-size: 23px;color: #45013d;">@product.Name</label>
                                </h4>
                            </div>

                            <img class="card-img-top" style="height:490px;width:350px" src="~/@product.ImagePath" alt="no image" />

                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <label style="font-size:20px; color:#a51313"><b>$@product.Price</b></label>
                                    </div>
                                    <a href="@string.Format(detailsRoute, product.Id)" class="btn pull-right btn-outline-danger">View Details</a>
                                </div>
                            </div>

                        </div>
                    </div>
                }
            }
        }
    }



</div>